* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #7476FF;
    --cor2: #7476FF;
    --cor3: #5D5DCD;
    --cor4: #454699;
    --cor5: #0C1B22;
    --cor6: #010707;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor2);
}

main {
    margin: 50px auto;
    width: 250px;
}

main > section {
    background-color: var(--cor6);
    color: white;
    text-align: right;
    font-size: 1.8em;
    height: 80px;
    width: 275px;
    border-radius: 7px 7px 0px 0px;
    position: relative;
}

section > div#teste {
    /* background-color: var(--cor5); */
    background-color: #0c1b22be;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 255px;
    height: 60px;
}

div#teste > span {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0px 30px 0px 0px;
}

table {
    background-color: var(--cor6);
    width: 275px;
    font-size: 1.2em;
    border-collapse: separate;
    border-spacing: 7px;
    border-radius: 0px 0px 7px 7px;
}

td {
    background-color: var(--cor5);
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    color: white;
}

.operation {
    background-color: var(--cor1);
}

#ac {
    background-color: var(--cor3);
}

#equal {
    background-color: var(--cor4);
}
