@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font: 'Roboto', sans-serif;
    --cor1: #7476FF;
    --cor2: #7476FF;
    --cor3: #5D5DCD;
    --cor4: #454699;
    --cor5: #0C1B22;
    --cor6: #010707;
    --cor7: #0c1b22be;
}

html, body {
    font-family: var(--font);
}

body {
    background-color: var(--cor2);
}

main {
    margin: 50px auto;
    width: 350px;
}

main > section {
    background-color: var(--cor6);
    color: white;
    text-align: right;
    font-size: 1.8em;
    height: 80px;
    width: 350px;
    border-radius: 7px 7px 0px 0px;
    position: relative;
}

section > div {
    background-color: var(--cor7);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 60px;
    border-radius: 6px;
}

div > span {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-right: 30px;
}

table {
    background-color: var(--cor6);
    width: 350px;
    height: 400px;
    font-size: 1.2em;
    border-collapse: separate;
    border-spacing: 7px;
    border-radius: 0px 0px 7px 7px;
}

td {
    background-color: var(--cor5);
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    color: white;
}

.operation {
    background-color: var(--cor1);
    font-size: 1.3em;
}

#ac {
    background-color: var(--cor3);
}

#backspace {
    padding: 0px;
}

#equal {
    background-color: var(--cor4);
}
